body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablero {
  display: flex;
  flex-wrap:wrap;
  width: 90vw;
  height:70vh;
  justify-content: space-around;
  margin-top: 220px; 
}

header {
  height: 50px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  flex-direction: row; 
  
}

.titulo {
  text-align: center;
  border-radius: 15px;
  padding: 12px; /* Ajustar padding según sea necesario */
  color: white;
  background-color: #FAC224; 
  font-family: 'Montserrat', sans-serif;
  font-size: 50px; 
  margin-right: 10px; /* Espacio entre Intentos y Puntos */
  margin-top: 300px; 
  
}

.puntos {
  text-align: center; /* Asegurarte de que el texto esté centrado */
  padding: 12px; /* Agregar padding si es necesario */
  color: white;
  background-color: #FAC224; /* Mismo color para coherencia */
  font-family: 'Montserrat', sans-serif;
  font-size: 50px; /* Asegúrate de que el tamaño sea el mismo que .titulo */
  border-radius: 15px; /* Alinear visualmente con el título */
}

.intentos, .puntos {
  margin-top: 300px; /* Añadir espaciado si es necesario */
}


.boton-reiniciar {
  background: #0383bc;
  color: white;
  position: absolute;
  font-size: 5vw;
  left: 32vw;
  top: 75vh;
  border-radius: 1vw;
  padding: 0 8vw;
}

.carta {
  width: 20vw;
  height: 10vh;
  
}

.portada {
  width: 20vw;
  height: 20vh;
  background-color: #FAC224;
  
}

.contenido {
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.ReactFlipCard {
  width: 100%;
  height: 100%;
}

.card_img {
  width: 20vw;
  height: 20vh;
  object-fit: contain;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.open-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.open-button:hover {
  background-color: #2980b9;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgba(250, 194, 36, 0.5); /* 50% de opacidad */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.modal h2 {
  margin-top: 0;
  color: #333;
}

.modal p {
  color: white;
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FAC224;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 35px;
  width: 300px;
  height: 60px;

}

.close-button:hover {
  background-color: #fac638;
}

@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Estilo para el botón */
.button-continuar {
  font-family: 'Kanit', sans-serif;
  font-size: 76px; /* Ajusta el tamaño según necesites */
  /* Otros estilos para el botón */
}



/* Estilos para dispositivos en posición vertical */
@media (orientation: portrait) {
  body {
    background-image: url("/JUEGO.png");
    background-size: cover; /* Ajusta la imagen al tamaño del dispositivo */
  }

  .registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 68px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-image: url('./images/fondoregis.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupa toda la pantalla */
    width: 100vw;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 70vw;
    height: 8vh;
    border-radius: 20px;
    background: #06ADBF;
    margin-bottom: 5rem; /* Espacio entre elementos */
    border: none; /* Quita el borde del botón */
    font-size: 4.5rem; /* Tamaño de fuente */
    color: rgba(255, 255, 255, 0.50);
    font-family: "Be Vietnam";
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 90% */
  }
  
  button {
    width: 72vw;
    height: 7.5vh;
    border-radius: 30px;
    background: #FAC224;
    margin-bottom: 3rem; /* Espacio entre elementos */
    border: none; /* Quita el borde del botón */
    color: #fff; /* Color del texto */
    font-size: 4rem; /* Tamaño de fuente */
  }

  input {
    margin-top: 550px;
    background: #fff; /* Color blanco con 50% de transparencia */
    padding: 0.5rem; /* Espacio interno en el input */
    text-align: center;
    color: #000000; 
    height: 7.5vh;
}





}

/* Estilos para dispositivos en posición horizontal */
@media (orientation: landscape) {
  body {
    background-image: url("/bghorizontal.png");
    background-size: cover; /* Ajusta la imagen al tamaño del dispositivo */
  }

  .registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input, 
  button {
    width: 40vw;
    height: 8vh;
    border-radius: 24px;
    background: #06ADBF;
    margin-bottom: 1rem; /* Espacio entre elementos */
    border: none; /* Quita el borde del botón */
    color: #fff; /* Color del texto */
    font-size: 1rem; /* Tamaño de fuente */
  }

  input {
    background: rgba(255, 255, 255, 0.15);
    padding: 0.5rem; /* Espacio interno en el input */
  }

  button:hover {
    background: #025a8a;
  }
}



